{% load staticfiles  %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta name="description" content="ITLab-IoT team | NCKU">
        <meta name="author" content="ITLab-IoT team | NCKU">

        <link rel="shortcut icon" href="{% static "backend/assets/images/favicon.ico" %}">

        <title>ITLab-IoT team | NCKU</title>

        <!-- Magnific popup Css-->
        <link rel="stylesheet" href="{% static "backend/assets/plugins/magnific-popup/dist/magnific-popup.css" %}" />
        <!-- Datatables-editable Css-->
        <link rel="stylesheet" href="{% static "backend/assets/plugins/jquery-datatables-editable/datatables.css" %}" />

        <link href="{% static "backend/assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "backend/assets/css/core.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "backend/assets/css/components.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "backend/assets/css/icons.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "backend/assets/css/pages.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "backend/assets/css/menu.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "backend/assets/css/responsive.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "backend/assets/css/2016.css" %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{% static "backend/assets/js/modernizr.min.js" %}"></script>

    </head>


    <body>


        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container">

                    <!-- Logo container-->
                    <div class="logo">
                        <a href="{% url "backend:backend_index" %}" class="logo"><img src="{% static "backend/images/logo-dark.png" %}" alt=""/></a>
                    </div>
                    <!-- End Logo container-->

                    <div class="menu-extras">

                         <ul class="nav navbar-nav navbar-right pull-right">
                        
                          <li id="btn-front-pc">
                                <a href="{% url "backend:backend_index" %}" class="waves-effect waves-light" aria-expanded="true">
                                    <i class="icon-home"></i> 
                                </a>
                           
                            </li>
                         
                             <li class="dropdown">
                                <a href="" class="dropdown-toggle waves-effect waves-light profile" data-toggle="dropdown" aria-expanded="true"><img src="{% static "backend/assets/images/users/avatar-1.jpg" %}" alt="user-img" class="img-circle"> </a>
                                <ul class="dropdown-menu">
                                 <li id="btn-front-mobile"><a href="{% url "showfront:home" %}"><i class="ti-home m-r-5"></i> Front End</a></li>
                                    <li><a href="{% url "backend:backend_login" %}"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                                </ul>
                            </li>

                        
                        </ul>

                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </div>

                </div>
            </div>
            <!-- End topbar -->


            <!-- Navbar Start -->
            <div class="navbar-custom">
                <div class="container">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li class="active">
                            <a href="{% url "backend:backend_index" %}"><i class="md md-cloud-queue"></i>IoT Device</a>
                          
                        </li>
                        <li>
                            <a href="{% url "backend:backend_api" %}"><i class="md md-settings-applications"></i>API</a>
                           
                        </li>


                        <li >
                            <a href="{% url "backend:backend_account" %}"><i class="md md-account-child"></i>Accounts</a>
                           
                        </li>
                       

               
                    </ul>
                    <!-- End navigation menu        -->
                </div>
            </div>
            </div>
        </header>
        <!-- End Navigation Bar-->


        <!-- =======================
             ===== START PAGE ======
             ======================= -->

        <div class="wrapper">
            <div class="container">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                    
                        <h4 class="page-title">IoT Nodes Management</h4>
                       

                    </div>
                </div>
                <!-- Page-Title -->

                <div class="panel m-t-20">

                    <div class="panel-body">
                        <div class="" id="acc-m">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User Name</th>
                                        <th>Register Date</th>
                                        <th>Service Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for node in node_show %}
                                    <tr >
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ node.node_user|upper }}</td>
                                        <td>{{ node.timestamp }}</td>
                                        {% if register_code %}
                                            <td><a href="{% url 'backend:backend_detail' node.id %}">Servicing</a> </td>
                                        {% else %}
                                            <td>Finished</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}



                                </tbody>
                            </table>
                        </div>
                    <div class ="pager">
                        <span class="step-links">
                            {% if node_show.has_previous %}
                            <a href="?page={{ node_show.previous_page_number }}">Previous</a>
                            {% endif %}

                            <span  class="current">
                             Page {{ node_show.number }} of {{ node_show.paginator.num_pages }}
                            </span>
                            {% if node_show.has_next %}
                            <a href="?page={{ node_show.next_page_number }}">Next</a>
                            {% endif %}
                        </span>
                    </div>

                    </div>
                    <!-- end: page -->

                </div> <!-- end Panel -->





             <!-- Footer -->
                <footer class="footer text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                2016 © ITLab-IoT team | NCKU.
                            </div>
                            <div class="col-xs-6">
                                <ul class="pull-right list-inline m-b-0">
                                    
                                    <li>
                                        <i class="fa fa-envelope-o"></i> steven.ncku@gmail.com
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

            </div> <!-- end container -->
        </div>
        <!-- End wrapper -->



        <!-- jQuery  -->
        <script src="{% static "backend/assets/js/jquery.min.js" %}"></script>
        <script src="{% static "backend/assets/js/bootstrap.min.js" %}"></script>
        <script src="{% static "backend/assets/js/detect.js" %}"></script>
        <script src="{% static "backend/assets/js/fastclick.js" %}"></script>
        <script src="{% static "backend/assets/js/jquery.slimscroll.js" %}"></script>
        <script src="{% static "backend/assets/js/jquery.blockUI.js" %}"></script>
        <script src="{% static "backend/assets/js/waves.js" %}"></script>
        <script src="{% static "backend/assets/js/wow.min.js" %}"></script>
        <script src="{% static "backend/assets/js/jquery.nicescroll.js" %}"></script>
        <script src="{% static "backend/assets/js/jquery.scrollTo.min.js" %}"></script>

        <script src="{% static "backend/assets/js/jquery.core.js" %}"></script>
        <script src="{% static "backend/assets/js/jquery.app.js" %}"></script>

        <!-- Examples -->
	    <script src="{% static "backend/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js" %}"></script>
	    <script src="{% static "backend/assets/plugins/jquery-datatables-editable/jquery.dataTables.js" %}"></script>
	    <script src="{% static "backend/assets/plugins/datatables/dataTables.bootstrap.js" %}"></script>
	    <script src="{% static "backend/assets/plugins/tiny-editable/mindmup-editabletable.js" %}"></script>
	    <script src="{% static "backend/assets/plugins/tiny-editable/numeric-input-example.js" %}"></script>
<!--
	    <script src="{% static "backend/assets/pages/datatables.editable.init.js" %}"></script>

	    <script>
			$('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();

		</script>
-->
    </body>
</html>